.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
Module.symvers
stamp-h1
*.cmd
*.lo
.tmp_versions
.libs

drivers/gpib/*/*.ko
drivers/gpib/*/*.mod.c

examples/ibtest
examples/master_read_to_file
examples/master_write_from_file
examples/slave_read_to_file
examples/slave_write_from_file

include/*.h
include/gpib

language/python/build

lib/libgpib.la

lib/gpib_config/gpib_config
lib/ibConfLex.c
lib/ibConfLex.h
lib/ibConfYacc.c
lib/ibConfYacc.h

util/linux_flags/Module.markers
util/linux_flags/fake.c
util/linux_flags/fake.ko
util/linux_flags/fake.mod.c
util/linux_flags/flags

test/libgpib_test

modules.order

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
