Package: det-wikird
Version: 0.1
Section: misc
Priority: optional
Architecture: all
Depends:
Recommends:
Installed-Size: 26559
Maintainer: xiangfu Liu <xiangfu@openmoko.org>
Description: When you put wiki-reader SD card into the desktop computer, then bring you to wiki-reader community website 
