*.pcf
*.bmf
stamp-*
subtitle.pcf.xz
subtitleipa.pcf.xz
subtlall.bdf
subtlall_jp.bdf
subtlall_kr.bdf
text.pcf.xz
textall.bdf
textall_jp.bdf
textall_kr.bdf
texti.pcf.xz
textipa.pcf.xz
title.pcf.xz
titleall.bdf
titleall_jp.bdf
titleall_kr.bdf
titleall_kr_unicode.bdf
titleipa.pcf.xz
